{% extends 'base.html' %}
{% load static %}


{% block title %} Profile {% endblock title %}
{% block navbar %}
  <a class="navbar-brand ml-4" href="/">JG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mr-4 ml-4" href="">{{ user_object.username }}'s profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-4" href="{% url 'blog:dashboard' main_user_object.id %} "> Home </a>
      </li>
    </ul>
    <span class="navbar-text ml-4 mr-4">
       Profile
    </span>
    <span class="navbar-text mr-4">
      <button type="button" class="btn btn-danger ml-4">
       <a class="text-white" href="/"> Log out </a>
    </button>
    </span>
  </div>
{% endblock navbar %}


{% block content %}

<div class="jumbotron mt-4 mb-4 bg-white text-dark">
    <div class="float-right">
        <img class="" src="/static/media/{{user_object.image}}" width="300px" height="320px">
    </div>
  <h1 class="display-2"> {{ user_object.username }} </h1>
     <p class="lead"><b>{{ user_object.categories }}</b></p>
  <hr class="my-4 bg-primary">
  <p>{{ user_object.description }}</p>
</div>


<h2 class="mt-4"> Posts ({{ length }})</h2>

<div class="row">
    <div class="col">
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item list-group-item-action mt-4"> <p><b>  {{ post.title }}  </b></p>
                {{ post.date_created }}
                 <p>
                     <button type="button" class="btn btn-primary mt-3">
                        <a class="text-white" href="{% url 'blog:view_post' main_user_object.id post.post_link.id post.id %}"> View </a>
                     </button>
                        <form action="" method="POST">
                            {% csrf_token %}
                             <input type="hidden" name = "post_user" value="{{ post.post_link.id }}" >
                             <button class=" btn btn-light float-right" type="submit" name="post_id" value="{{ post.id }}"> <img class="mb-2" src="{% static 'img/like-1439749-1214323.png' %}">
                                {{ post.likes }}</button>
                        </form>
                  </p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
