{% extends 'base.html' %}
{% load static %}


{% block title %} Profile {% endblock title %}
{% block navbar %}
  <a class="navbar-brand ml-4" href="/">JG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mr-4 ml-4" href="">{{ user_object.username }}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-4" href="{% url 'blog:dashboard' user_object.id %} "> Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> About </a>
      </li>
    </ul>
    <span class="navbar-text ml-4 mr-4">
       Your profile
    </span>
    <span class="navbar-text mr-4">
      <button type="button" class="btn btn-danger ml-4">
       <a class="text-white" href="/"> Log out </a>
    </button>
    </span>
  </div>
{% endblock navbar %}


{% block content %}

<div class="jumbotron mt-4 mb-4 bg-dark text-white lead">
  <h1 class="display-2"> {{ user_object.username }} </h1>
     <p class="lead"><b>{{ user_object.categories }}</b></p>
  <hr class="my-4 bg-light">
  <p>{{ user_object.description }}</p>
</div>


<p class="mt-4 display-4" style="text-align:center;"> Posts ({{ length }})</p>
<hr style="width: 35rem;" class="my-4 bg-dark mb-4 ">


<div class="row">
    <div class="col">
        <ul class="list-group">
            {% for post in posts %}
            <li class="list-group-item list-group-item-action mt-4"> <p><b>  {{ post.title }}  </b></p>
                {{ post.date_created }}
                 <p>
                     <button type="button" class="btn btn-primary mt-2">
                   <a class="text-white" href="{% url 'blog:view_post' post.post_link.id post.id %}"> View </a>
                     </button>

                    <button type="button" class="btn btn-danger mt-2 ml-2">
                       <a class="text-white" href="{% url 'blog:delete_post_page' post.post_link.id post.id %}"> Delete </a>
                    </button>
                 </p>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
